doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale=1.0, user-scalable='no')
    link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Project Eros
  body
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    include navbar
    block content
    include footer
